[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.9.0"
mysqlclient = "*"
djangorestframework-filters = "*"
query = "*"
mysql = "*"
django-filter = "*"
pytz = "==2018.5"
pipenv = "*"
django-mysql = "*"
PyMySQL = "*"
uWSGI = "*"
Django = "==2.1.1"

[dev-packages]

[requires]
python_version = "3.7"